---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import StopIndicator from '../../components/StopIndicator.astro';
import StopSign from '../../components/StopSign.astro';
import HeaderRow from '../../components/Header.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import Layout from '../../layouts/Layout.astro';
import BlogCard from '../../components/BlogCard.astro';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const stops = [
  { path: "/", title: "1st Avenue Station", logo: "/logos/home.svg" },
  { path: "/about", title: "Local 2 St Station", logo: "/logos/about.svg" },
  { path: "/projects", title: "Works Boulevard Station", logo: "/logos/projects.svg" },
  { path: "/blog", title: "Journal Road Station", logo: "/logos/ftrain.svg" },
  { path: "/contact", title: "Exchange Avenue", logo: "/logos/contact.svg" }
];

const currentPath = Astro.url.pathname;
const currentStop = stops.find(s => currentPath === s.path || currentPath.startsWith(s.path + "/")) ?? stops[0];
---

<Layout title="blog">
  <HeaderRow slot="header">
    <div slot="left">
      <StopSign title={currentStop.title} logo={currentStop.logo} />
    </div>

    <StopIndicator
      slot="center"
      stops={stops.map(s => s.path)}
      links={stops.map(s => s.path)}
      current={currentPath}
    />

    <div slot="right">
      <span>v1.0</span>
    </div>
  </HeaderRow>

  <h1 class="title-header">blog</h1>
  <p>
    i dont write much, but will write more in the future!
  </p>

  <section class="blog-list">
    {posts.map(post => (
      <BlogCard post={post} href={`/blog/${post.id}`} />
    ))}
  </section>
</Layout>
